<<<<<<< HEAD
<% if user_signed_in? %>
  <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-default'%></p>
<% else %>
  <p><%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %></p>
  <p><%= link_to "페이스북으로 로그인", user_omniauth_authorize_path(:facebook) %></p>
<% end %>
=======
   <h1>Frieday :)</h1>
<%= link_to "글작성", bulletin_posts_path(5), class:'btn btn-default' %>

    
>>>>>>> 595ad998834798b6a4eecd8c73bd83116a6e1599
