<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<center>
<a class="btn btn-danger" data-confirm="결제하시겠습니까?" data-method="delete" data-remote="true" href="#" rel="nofollow">PAYCO로 결제하기</a>
</center>