.row {
	padding-left: 19px;
	padding-right: 19px;
}

.card-padding {
	padding: 2px;
}

.card-image {
	border-radius: 2px;
}

.quickmenu-card {
	position: relative;
	height: 100%;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 8px;
	background-color: #212121;
	color: #ddddd9;
}

.card-description {
	
}

.card-price {

}

.random {
	background-color: #333333;
	color: #fafafa;
	margin-bottom: 10px;
}