.quickmenu-row {
	padding-left: 4px;
	padding-right: 4px;
}

.quickmenu-row .title {
	text-align: center;
	color: #333;
	border-radius: 6px;
	padding: 4px;

}
.card-padding {
	padding: 2px;
}

.card-image {
	border-radius: 2px;

}

.quickmenu-card {
	position: relative;
	height: 100%;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 8px;
	background-color: #212121;
	color: #ddddd9;
}

.card-description {
	min-height: 50px;
}

.card-price {

}

.random {
	background-color: #333333;
	color: #fafafa;
	margin-bottom: 10px;
}