/*--------------------------------------------------------------
  Application Layout Style
--------------------------------------------------------------*/
$navbar-default-bg: red;
$navbar-default-link-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: #cc0000;
$gray-light: #cccccc;

body {
	padding-top: 60px;
}

@import 'bootstrap-custom';
@import 'bootstrap-overrides';
@import 'posts';
@import 'font-awesome';

.navbar-brand > img {
	height: 20px;
	width: 100px;
}