$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: red;
$navbar-default-link-color: white;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: white;
$gray-light: #cccccc;

@import 'bootstrap';
@import 'bootstrap/theme';
@import 'posts.css.scss';


body { padding-top: 60px; }