<body style="width:100% !important; margin:0 !important; padding:0 !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;">
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
	<tr>
		<td>
         <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
		      <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
            <tr>
                <td width="100%">
                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a href="#"><img src="http://postfiles13.naver.net/20150813_76/yy9356_14394703649804kn0x_JPEG/%C4%A1%C5%B24.JPG?type=w2" style="display:inline-block; max-width:100% !important; width:100% !important; height:auto !important;border-bottom-right-radius:8px;border-bottom-left-radius:8px;" border="0"></a>
                            </td>
                        </tr>
                   </table>
                   <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                        <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                            	<p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    반갑습니다 <%= @email %> 님!                               
                                </p>
                            	<p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">

                                    프라이데이에 가입하신것을 환영합니다!<br>
                                    프라이데이와 함께 맛있는 치킨을 즐겨보세요~<br>
                                    궁금하신것은
                                     <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#">연락주세요!</a>!<br>
                                </p>
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                      <tr>
                                        <td class="emailcolsplit" align="left" valign="top" width="58%">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                            <br><br>
                                                터치!터치! <br>
                                                이벤트와 함께 나만의 치킨을 만들수 있습니다. <br>원하는 치킨을 만들어보세요!<br>
                                                당신만의 치킨을 기다리고 있겠습니다.<br>
                                                커뮤니티에 올려 자랑도 해보세요 !<br>

                                                                                   </p>
                                        </td>
                                        <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                            <a href="#"><img src="http://cdn7.staztic.com/app/i/1602/1602302/krcobbqtopping-2130-0-s-386x470.jpg" alt="Supporting image 1" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="emailcolsplit" align="left" valign="top" width="58%">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                            <br><br>
                                                주문 후 치킨 도착까지 지루하셨죠? <br>
                                                프라이데이와 함께라면 기다리는 시간도 즐겁답니다<br>
                                                치킨이 도착할때까지 미니게임을 해보세요!<br>
                                                포인트를 얻으면 쿠폰도 한가득!<br>
                                                할인, 추가, 프리 사이드메뉴까지!!!!<br>
                                            </p>
                                        </td>
                                        <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                            <a href="#"><img src="http://www.khgames.co.kr/news/photo/images/imglib16/090608_5_1.jpg" alt="Supporting image 2" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                        </td>
                                      </tr>
                                    </table>
    
                            </td>
                        </tr>
                   </table>
                   <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" href="#"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">
                          <%= link_to '프라이데이 바로가기', confirmation_url(@resource, confirmation_token: @token) %></div></a></td>
                        </tr>
                   </table>
                   <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                        <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                            	<p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    Email not displaying correctly? <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#">View it in your browser.</a>
                                </p>
                            	<p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    Copyright 2013 Your Company. All Rights Reserved.<br>
                                    If you no longer wish to receive emails from us, you may <a style="color:#2489B3; font-weight:normal; text-decoration:underline;" href="#">unsubscribe</a>.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </div>
		</td>
	</tr>
</table> 
</body>