
+<link rel="stylesheet" href="http://119.205.252.23:8000/cart/cart.css" type="text/css" />
<h3 class="text-center">Side Menu</h3>
<div class="shopping-cart">

 <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "Quick Menu", root_path %></h1>
 </div>
        <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'welcome/cart_text' %></h1>
      </div>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
  <h2>사이드메뉴를 골라주세요</h2>
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>

</div></div>

    